<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <nav aria-label="breadcrumb" >
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#"><i class="bi bi-book me-2"></i>Main</a></li>
              <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Getting started</a></li>
              <li class="breadcrumb-item active" aria-current="page">Frontend test project</li>
            </ol>
          </nav>
          <div class="ms-auto pe-3 border-end">
            <i class="bi bi-unlock"></i>
            <span> Editing</span>
          </div>
          <div class="dropdown">
            <button class="btn dropdown-toggle text-primary fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Publish Space
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
    </nav>
</header>