<div class="input-group flex-nowrap mb-3">
    <div class="input_group_start input-group-text bg-transparent border_end--none">
        <span class="badge bg-info me-2">P</span>
        <div class="px-2 border-start border-end">
            <i class="bi bi-clock me-2"></i>
            <span class="text-secondary">0 min</span>
        </div>
        <span class="px-2 border-end">
            <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png" alt="Angular icon" width="18px">
        </span>
        <span class="px-2">
            <i class="bi bi-arrow-down-left"></i> 0
        </span>
    </div>
    <input type="text" class="form-control border_start--none border_end--none" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-text bg-transparent border_start--none">
        <i class="bi bi-check2-circle"></i>
        <i class="bi bi-cloud mx-2 text-success"></i>
        <i class="bi bi-three-dots-vertical"></i>
    </span>
</div>